{% extends 'base.html' %}
{% load static %}

{% block title %}
    Delete Address
{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'distances/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Delete Address</h1>
        <p>Are you sure you want to delete the address "{{ address.name }}: {{ address.address }}"?</p>
        <form method="post">
                {% csrf_token %}
                <button type="submit">Yes, Delete</button>
        </form>
        <a href="{% url 'add_address' %}">Cancel</a>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Add any JavaScript files here -->
{% endblock %}