{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit Address
{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'distances/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Edit Address</h1>
        <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save Changes</button>
        </form>
        <a href="{% url 'add_address' %}">Back to Address List</a>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Add any JavaScript files here -->
{% endblock %}