{% extends 'base.html' %}
{% load static %}

{% block title %}
    Show Distances
{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'distances/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Show Distances</h1>
        <form method="post">
                {% csrf_token %}
                <label for="given_address">Enter Address:</label>
                <input type="text" id="given_address" name="given_address">
                <button type="submit">Show Distances</button>
        </form>
        {% if distances %}
                <h2>Distances from {{ given_address }}</h2>
                <ul>
                        {% for name, info in distances.items %}
                                <li>{{ name }} ({{ info.address }}): {{ info.distance }} ({{ info.duration }})</li>
                        {% endfor %}
                </ul>
        {% endif %}
        <a href="{% url 'add_address' %}">Add Another Address</a>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Add any JavaScript files here -->
{% endblock %}