{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact Page
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}


{% block content %}
<div class="container">
  <h1>Contact Us</h1>
  <p>Here are our social media links and contact information.</p>
  <div class="contact-info">
    <div class="contact-item">
      <img src="{% static 'images/email.png' %}" alt="Email Icon" />
      <p>Email:
        <a href="mailto:
          {{email}}">
          {{email}}
        </a>
      </p>
    </div>

    <div class="contact-item">
      <img src="{% static 'images/facebook.png' %}" alt="Facebook Icon" />
      <p>Facebook:
        <a href="{{facebook}}">
          {{facebook}}
        </a>
      </p>
    </div>
    <div class="contact-item">
      <img src="{% static 'images/twitter.png' %}" alt="Twitter Icon" />
      <p>Twitter:
        <a href="{{twitter}}">
          {{twitter}}
        </a>
      </p>
    </div>
    <div class="contact-item">
      <img src="{% static 'images/youtube.png' %}" alt="Youtube Icon" />
      <p>Youtube:
        <a href="{{youtube}}">
          {{youtube}}
        </a>
      </p>
    </div>
    <div class="contact-item">
      <img src="{% static 'images/instagram.png' %}" alt="Instagram Icon" />
      <p>Instagram:
        <a href="{{instagram}}">
          {{instagram}}
        </a>
      </p>
    </div>
    <div class="contact-item">
      <img src="{% static 'images/tiktok.png' %}" alt="TikTok Icon" />
      <p>TikTok:
        <a href="{{tiktok}}">
          {{tiktok}}
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}

